<footer class="sticky-footer">
    <div class="f-info-socials">
        <i class="hgi hgi-stroke hgi-facebook-02"></i>
        <i class="hgi hgi-stroke hgi-instagram"></i>
        <i class="hgi hgi-stroke hgi-new-twitter"></i>
    </div>
    <div class="f-info-brand">
        &copy; ABNB Tour & Travels Private Ltd.
    </div>
    <div class="f-info-terms">
        <a href="/privacy">Privacy</a>
        <a href="Terms">Terms</a>
    </div>
</footer>