<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-2" role="alert">
        <h3> Error: something went wrong!!</h3>
        <p> <%= message %></p>
    </div>
</div>